/2013Beta/build/
/2013Beta/nbproject/private/
/2013PrototypingBoard/nbproject/private/
/PIDBoard/nbproject/private/
/PIDBoard/build/
/2013SensorBoard/nbproject/private/
/2013SensorBoard/build/
/2013FRC/Robot/build/
/2013FRC/Robot/nbproject/private
/2013FRC/Robot/nbproject/project.bak.xml
*~
/FlywheelVoltageTest/nbproject/private
/VoltageBoard/build/
/ETest/build/
/testBot/build/